---
import BaseLayout from '../layouts/BaseLayout.astro'
import BlogPost from '../components/BlogPost.astro'
const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));
const {pageTitle} = Astro.props;
---
<BaseLayout pageTitle={pageTitle}>
  <h1>Technology Blog Posts</h1>
  <p> You can pick a topic and learn more about me and my views on technology.</p>
  <ul>
{allPosts.map((post: any) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
  </ul>
</BaseLayout>