---
import Navigation from './Navigation.astro';
---
<style>
  header {
    padding: 0.5rem 1rem;
    text-decoration: none;
    background-color: rgb(215, 255, 215);
    text-align: center;
  }
</style>
<header>
  <nav>
    <Navigation />
  </nav>
</header>