---
import BaseLayout from '../layouts/BaseLayout.astro';
const {pageTitle} = Astro.props;
---
<BaseLayout pageTitle={pageTitle}>
<h2>Welcome to my Blog!</h2>
<h1>The Blogger: Ruby Lucas</h1>
<p>There are many important topics in the technology industry. I am dedicated to share the information that could change your opinions or the way you code. </p>
</BaseLayout>
